table
{
	border: 2px solid rgb(80,80,200);

}
.red
{
	background-color: rgb(250,150,150);
}
.blue
{
	background-color: rgb(200,200,240);
}
#borderbottom
{
	border-bottom: 5px solid rgb(80,80,200);
}
td
{	
	border: 1px solid rgb(100,100,250);
}
#margin
{
	margin-bottom: -10px;
}
.bold
{
	font-weight: bold;
}