/* Estilos generales */
body {
	background-image: url(../ajedrez.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h1	{
	margin-right: 630px;
	text-align: center;
	font-size: 30pt;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
img {
	width: 74px;
	height: 74px;			
	padding: 10px 10px 10px 10px;
  	cursor: pointer;
}

legend {
	background-color: rgb(120,0,0);
	margin-left: 100px;
	margin-right: 100px;
	border: double 8px black;
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	color: white;
}
h4 {
	font-size: 12pt;
}

button
{
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border: 5px groove #AA0000;
	font-size: 20pt;
	font-weight: bold;
	padding: 10px;
}

/* Estilo del menu */
#menu
{
	background-image: url(marco.jpg); 
	background-position: center;
	
	float: left;
	width: 500px;
	height: 645px;
	margin: 100px 50px;
	border: 3px groove rgb(150,0,0);

}

/* Estilos de las piezas en el menu*/
#piezas
{
	margin: auto;
}

/* Estilo del tablero */
#tablero
{
	float: left;
	margin-right: auto;
	margin-left: 250px;
	width: 800px;
	height: 786px;
	border: 3px solid black;
}

/* Esto generara las filas del tablero, gracias a la funcion display: grid      Fuente: https://www.w3schools.com/css/css_grid_container.asp */
#tablero .filas
{
	display: grid;
	grid-template-columns: auto auto auto auto ;
	width: 800px;
}

#tablero .columna
{
	display: inline-block; /* inline-block hara la funcion de rellenar nuestro tablero, si no estuviera se haria una linea hacia abajo alternando entre bloque blanco y negro */
	width: 100px;
	height: 100px;
	margin-bottom: -6px;
}
